body {
    background-color: lightgray;
}
h1 {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
h2:first-of-type {
    margin-bottom: 50px;
}
h2 {
    margin: 20px;
    font-size: 25px;
}
.instructions {
    width: 600px;
    height: 275px;
    border: dashed 5px black;
    background-color: lightslategray;
    position: fixed;
    right: 50px;
    bottom: 200px;
}
h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
}
footer {
    background-color: black;
    color: grey;
    text-align: center;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 5px solid grey;
}